<%- include('../includes/head.ejs') %>

<h1> About Us  </h1>

<h2>นางสาวกฤติยา     คงประดับ     62100292 COE</h2>
<h2>นายฉัตริน         รอดบัวทอง    62101720 COE</h2>
<h2>นางสาวพัชรพร     ชำนาญกิจ     62106521 COE</h2>
<h2>นายภัทร          มณีวรรณ     62107172 COE</h2>
    



            <%- include('../includes/end.ejs') %>